<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	
	<!-- 定义一个任务类 -->
	<bean id="testJobBean" class="cn.me.job.TJob"></bean>
	
	<!-- 任务类描述,targetObject是任务类，targetMethod是该类要触发的方法  -->
	<bean id="testJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="testJobBean"></property>
		<property name="targetMethod" value="send"></property>
	</bean>
	<!-- 触发器  -->
	<bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="testJobDetail"></property>
		<!-- 表达式，秒0-59 分0-59 时0-23 日1-31 月1-12 周1-7 年 -->
		<property name="cronExpression" value="* * * * * ? *"></property>
	</bean>
	<!-- 总管理容器，spring启动会自动加载 -->
	<bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
				<ref bean="testTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>
	
