<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- #{id}表示等待传入的参数，parameterType表示参数类型，
resultType表示输出类型。 -->
<mapper namespace="cn.itcast.mybatis.mapper.OrdersMapper">


	<!-- findOrderUserList -->
	<select id="findOrderUserList" resultType="orderUser">
		select o.*,u.username,u.birthday,u.sex,u.address from orders o,user u 
		where o.user_id=u.id
	</select>
	
	
	
	<!-- findOrderList，一对一association -->
	<resultMap type="orders" id="findOrderList_">
		<id column="id" property="id"/>
		<result column="number" property="number"/>
		<result column="user_id" property="userId"/>
		<result column="createtime" property="createtime"/>
		<result column="node" property="node"/>
		<association property="user" javaType="cn.itcast.mybatis.po.User">
			<id column="user_id" property="id"/>
			<result column="username" property="username"/>	
			<result column="sex" property="sex"/>	
			<result column="birthday" property="birthday"/>	
			<result column="address" property="address"/>				
		</association>
	</resultMap>
	<select id="findOrderList" resultMap="findOrderList_">
		select * from orders o,user u where o.user_id=u.id
<!-- 		select o.*,u.username,u.birthday,u.sex,u.address from orders o,user u 
		where o.user_id=u.id -->
	</select>
	
	
	
		<!-- findOrderList1,一对多 collection-->
	<resultMap type="user" id="user1">
		<id column="id" property="id"/>
		<result column="username" property="username"/>	
		<result column="sex" property="sex"/>	
		<result column="birthday" property="birthday"/>	
		<result column="address" property="address"/>
		<collection property="orders" ofType="cn.itcast.mybatis.po.Orders">
			<id column="oid" property="id"/>
			<result column="number" property="number"/>
			<result column="uid" property="userId"/>
			<result column="createtime" property="createtime"/>
			<result column="node" property="node"/>				
		</collection>
	</resultMap>
	<select id="findOrderList1"  resultMap="user1">
		select u.*,o.id oid,o.user_id uid,o.number,o.createtime,o.note from user u,
							orders o where o.user_id=u.id
	</select>
	

	<insert id="insertOrders" parameterType="orders">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			select last_insert_id()
		</selectKey>
				insert orders(user_id,note,number,createtime) 
				value(#{userId},#{note},#{number},#{createtime})			
	</insert>
</mapper>