<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> 

<context:component-scan base-package="cn.me.dao"></context:component-scan>
<context:property-placeholder location="classpath:c3p0.properties"/>

<bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="user" value="${c3p0.user}"></property>
	<property name="password" value="${c3p0.pw}"></property>
	<property name="driverClass" value="${c3p0.driver}"></property>
	<property name="jdbcUrl" value="${c3p0.url}"></property>
</bean>
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="c3p0"></property>
</bean>

</beans>