<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/security"
xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

<!-- 在权限拦截时放行 -->
<http pattern="/login.html" security="none"></http>
<http pattern="/error.html" security="none"></http>
<http pattern="/css/**" security="none"></http>
<http pattern="/js/**" security="none"></http>
<http pattern="/img/**" security="none"></http>
<http pattern="/pligins/**" security="none"></http>


<!-- http安全控制规则 -->
<http>
	<!-- 拦截哪些 -->
	<intercept-url pattern="/**" access="hasRole('ROLE_USER1')"/>
	<!-- 表单认证 ,(login-processing-url=)/login-test就是登陆页面表单的action的值-->
	<form-login login-page="/login.html" default-target-url="/admin/index.html" 
	always-use-default-target="true" authentication-failure-forward-url="/error.html"
	login-processing-url="/login-test"/>
	<!-- 屏蔽跨域 -->
	<csrf disabled="true"/>
	<!-- 配置在iframe里的页面可以访问 -->
	<headers>
		<frame-options policy="SAMEORIGIN"/>
	</headers>
	<!-- 注销，自动生成退出地址(logout-success-url=)/logout，作为注销的请求地址就可以了 -->
	<logout logout-success-url="/login.html"/>
</http>

<!-- 配置认证管理器 -->
<authentication-manager>
	<authentication-provider>
		<user-service>
			<user name="admin" password="admin" authorities="ROLE_USER1"/>
			<user name="a" password="a" authorities="ROLE_USER1"/>	
		</user-service>
	</authentication-provider>
</authentication-manager>

</bean:beans>



security="none" 设置此资源不被拦截.
login-page：指定登录页面。
authentication-failure-url：指定了身份验证失败时跳转到的页面。
default-target-url：指定了成功进行身份验证和授权后默认呈现给用户的页面。
csrf disabled="true" 关闭 csrf ,如果不加会出现错误。
CSRF（Cross-site request forgery）跨站请求伪造，也被称为“One Click Attack”或者 Session
Riding，通常缩写为 CSRF 或者 XSRF，是一种对网站的恶意利用。
如果你没有设置登录页 security="none" ，将会出现以下错误
always-use-default-target：指定了是否在身份验证通过后总是跳转到 default-target-url 属性指
定的 URL。
