<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	
	<!-- 要求至少得有一个持久化单元(至少得有一个数据库的连接信息) -->
	<persistence-unit name="mysql">
			<!-- mysql的数据库连接信息 -->
			<properties>
				<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
				<property name="hibernate.connection.url" value="jdbc:mysql:///hibernate1"/>
				<property name="hibernate.connection.username" value="root"/>
				<property name="hibernate.connection.password" value=""/>
				<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
				
				<property name="hibernate.connection.provider_class" value="org.hibernate.connection.C3P0ConnectionProvider"/>
				<property name="hibernate.show_sql" value="true"/>
				<property name="hibernate.format_sql" value="true"/>
				<property name="hibernate.hbm2ddl.auto" value="update"/>
				
				  <!-- Set the entities package to scan -->
				<property name="packagesToScan" value="cn.me.domain" />
       
	   
				<!-- <property name="hibernate.current_session_context_class" value="thread"/>教程里没有这个，不知道能不能用-->
			
			</properties>
	</persistence-unit>
	
	
	
	
	<!-- <persistence-unit name="oracle">
			oracle的数据库连接信息
	</persistence-unit>
	
	
	<persistence-unit name="db2">
			db2的数据库连接信息
	</persistence-unit> -->
	
</persistence>