<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
        
<!-- 	<bean name="/list.action" class="cn.itcast.ssm.controller.ItemsController"></bean> -->        	
	<context:component-scan base-package="cn.itcast.ssm.controller"></context:component-scan>
	
	
	<!--配置json转换器，在注解适配器中加入messageConverters
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
		<list>
		<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
		</list>
		</property>
	</bean>
	注意：如果使用<mvc:annotation-driven /> 则不用定义上边的内容，必须导两个包
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-core</artifactId>
			<version>2.4.2</version>
		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.core</groupId>
			<artifactId>jackson-databind</artifactId>
			<version>2.4.4</version>
		</dependency>，springmvc默认是没有对象转换成json的转换器的，需要手动添加jackson依赖。	项目2使用fastjson进行转换，所以不用这两个包，配置文件是这样的：
			<mvc:annotation-driven>
			  <mvc:message-converters register-defaults="true">
				<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">  
				  <property name="supportedMediaTypes" value="application/json"/>
				  <property name="features">
					<array>
					  <value>WriteMapNullValue</value>
					  <value>WriteDateUseDateFormat</value>
					</array>
				  </property>
				</bean>
			  </mvc:message-converters>   
			</mvc:annotation-driven>，
		如果不配置这些在需要转换时候后端报错No converter found for return value of type，
		前端报错415 Unsupported media type等错误		-->
	<mvc:annotation-driven />
 
 <!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
	
	
	<!--  配置视图解析器的前缀和后缀 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <property name="prefix" value="/WEB-INF/jsp/"></property>
		 <property name="suffix" value=".jsp"></property>
	</bean>

<!-- 异常处理器 -->
	<bean id="handlerExceptionResolver" class="cn.itcast.ssm.exception.MyHandlerExceptionResolver"/>

<!-- 配置静态资源 -->
	 <mvc:resources location="/js/" mapping="/js/**"> </mvc:resources>
	
<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="cn.itcast.ssm.interceptor.MyIterceptor1"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="cn.itcast.ssm.interceptor.MyIterceptor2"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<!-- 加载注解驱动 -->
	<!-- <mvc:annotation-driven conversion-service="conversionService"/> -->
	<!-- 转换器配置 -->
<!-- 	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="cn.itcast.ssm.converter.DateConverter"/>
			</set>
		</property>
	</bean> -->
</beans>